.section-one{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}
.section-one-container{
    padding-top: 100px;
    max-width: 80%;
    margin:0 auto;
    text-align: center;
}
.section-one-text{
    text-align: center;
}
.section-one-text h2 {
    font-size: 13px;
    color: #333333;
}

.section-one-text h3 {
    font-size: 43px;
    color: #333333;
    letter-spacing: 5px;
    padding-top: 20px;
    font-weight: 700;
}
.section-one-text p{
    max-width:75%;
    margin: 0 auto;
    color: #555555;
    padding-top: 20px;
    padding-bottom: 40px;
}
.section-one-img-container{
    display: flex;
    gap: 30px;
}
.section-one-img-container img{
display: flex;
}
.signature-container{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 13px;
    padding-bottom: 70px;
}